@font-face {
  font-family: "Myfont";
  src: url("../src/my-font.woff2") format("woff2"),
    url("../src/my-font.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: bisque;
}

.hello {
  color: chartreuse;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  &:active {
    transform: scale(1.05);
  }
}


